# OS / python
__pycache__/
*.pyc
.DS_Store
Thumbs.db

# Virtual envs
venv/
.env
.env.*

# Data & DBs
*.csv
espn_analytics/duckdb/*.duckdb
raw/
player_stats.csv

# dbt generated/build
espn_analytics/target/
espn_analytics/run/
espn_analytics/compiled/
espn_analytics/logs/

# Logs
logs/
scripts/logs/